<div class="ui container">
  <h1 class="ui header">Home Page</h1>
  <div class="ui two column stackable grid">
    <div class="column">
      <div class="ui card">
        <a href="product.html" class="image">
          <img src="http://upload.mycms.simonho.net/userdata/1bbb326b99244e7baac11a92394cc01f/prodimg_sku-banana-1_00.jpg" />
        </a>
        <div class="content">
          <a class="description" href="product_1.html">Product 1</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui card">
        <a href="product.html" class="image">
          <img src="http://upload.mycms.simonho.net/userdata/1bbb326b99244e7baac11a92394cc01f/prodimg_sku-banana-1_01.jpg">
        </a>
        <div class="content">
          <a class="description">Product 1</a>
        </div>
      </div>
    </div>
  </div>
</div>
